.access {
	background-color: var(--clr-primary-2);
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
}

.access > .container {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.access > .container > * {
	transition: var(--transition);
}

.access--container > h2 {
	margin: 0;
}

.access__email {
	width: 100%;
}

.btn__access {
	margin-top: 0.7em;
}

.access .text__error {
	color: white;
}

@media only screen and (min-width: 769px) {
	.access form {
		max-width: 30em;
		width: 100%;
		justify-self: center;
	}

	.access > .container h2 {
		font-size: 1.7em;
	}

	.access form .text__error {
		position: static;
		font-size: 0.8em !important;
	}
}

@media only screen and (min-width: 1025px) {
	.access > .container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: left;
		align-items: center;
		max-width: 1288px;
	}

	.access > .container > div {
		/* padding: 0; */
		max-width: 33em;
	}
	.access > .container p {
		font-size: 1em;
	}

	.access__email,
	.btn__access {
		font-size: 0.8em;
		padding-top: 1.2em;
		padding-bottom: 1.2em;
	}
	.btn__access {
		width: auto !important;
		padding-left: 4em;
		padding-right: 4em;
	}
}
