.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: center;
	justify-content: center;
	transition: var(--transition);
}

.hero--container {
	text-align: center;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

.hero--container > h2 {
	font-size: 22px;
}

.hero--container > p {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 2em;
}

.hero--illustration {
	grid-row-start: 1;
	margin-top: 130px;
	max-width: 33em;
	margin-left: auto;
	margin-right: auto;
}

/* FORM */
.hero__email {
	width: 100%;
}

.btn__hero {
	color: var(--clr-neutral-1);
	margin-top: 1em;
	margin-bottom: 12em;
}

@media only screen and (max-height: 568px) {
	.hero--illustration {
		margin-top: 7em;
	}
}

@media only screen and (min-width: 769px) {
	.hero--container > h2 {
		font-size: 2em;
		line-height: 1.5em;
	}
	.hero--container > p {
		font-size: 1em;
	}

	.hero__email,
	.btn__hero {
		font-size: 0.8em;
	}

	.btn__hero {
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1025px) {
	.hero {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		margin-top: 10em;
	}

	.hero--illustration {
		margin: 0;
	}

	.hero--illustration {
		grid-column-start: 2;
		justify-self: center;
	}

	.hero--container {
		text-align: left;
		margin: 0;
		max-width: 100%;
	}

	.hero--container > h2 {
		margin: 0;
		font-size: 2.5em;
	}
	.hero--container > p {
		margin: 1.5em 0;
	}

	.hero--container form {
		display: flex;
	}
	.form--field input {
		padding: 1.2em 2em;
	}
	.hero--container .btn__hero {
		width: 30em;
		padding: 1.2em 0;
		margin-top: 0;
		margin-left: 1em;
	}
}
