.quote {
	padding: 1.2em 1.5em;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 405px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border-radius: 0.5em;
	margin-bottom: 8em;
}

.quote--wrapper {
	display: flex;
	align-items: center;
}

.quote__img {
	width: auto;
}

.quote > p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-bottom: 1.2em;
}

.quote__user {
	width: 3em;
	border-radius: 50%;
}

.quote cite {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 17px;
	margin-left: 1em;
}

.quote cite > span {
	display: block;
	font-weight: bolder;
	font-size: 12px;
}

@media only screen and (min-width: 1025px) {
	.quote {
		margin: 0;
	}

	/* Responsible for padding right in the first child of the every container */
	.container > *:nth-child(1) {
		padding-right: 2em;
	}
}
