.footer {
	background-color: var(--clr-primary-1);
	padding-top: 6em;
	padding-bottom: 2em;
	font-size: 14px;
}

.footer--logo {
	display: inline;
	margin-bottom: 1em;
	width: auto;
}

.footer__img {
	width: auto;
}

.footer__img g path {
	fill: white;
}

.footer__emailTo {
	text-decoration: none;
	color: white;
}

.inline__icon {
	display: inline;
	width: auto;
	margin-right: 1em;
}

.address {
	color: white;
	font-style: normal;
	margin-bottom: 2em;
	margin-top: 2em;
}

.address > div {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;
}

.footer--navbar {
	padding: 0;
	margin: 0;
	margin-bottom: 2em;
	list-style-type: none;
}

.footer__link {
	color: white;
	text-decoration: none;
	transition: var(--transition);
}
.footer__link:hover {
	color: var(--clr-accent-1);
}

.social--icons {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.social--icons > a {
	display: flex;
}

.social__white {
	border: 1px solid white;
	color: white;
	border-radius: 50%;
	padding: 0.8em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: auto;
	height: auto;
	transition: var(--transition);
}

.social__white:hover {
	color: var(--clr-accent-1);
	border-color: var(--clr-accent-1);
}

@media only screen and (min-width: 769px) {
	.address {
		margin-bottom: 3em;
		margin-top: 3em;
	}

	.nav--wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 3em;
	}

	.social__white {
		margin-left: 0.8em;
		margin-right: 0.8em;
	}
}

@media only screen and (min-width: 1025px) {
	.footer--wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.footer--navbar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.social--icons {
		justify-content: flex-end;
	}

	.footer--wrapper > .container {
		width: 100%;
	}

	.footer__img {
		margin-bottom: 3em;
	}

	.address {
		margin: 0;
		padding: 0 !important;
	}
}
